@keyframes fadeinscale {
  0% {
    opacity: 0;
    transform: scale(0.95, 0.95); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }

@keyframes blowup {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.1, 1.1); } }

@keyframes fadeinscaleport {
  0% {
    opacity: 0;
    transform: scale(0.97, 0.97); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein-delay1 {}@keyframes fadein-zoom {}.dev {
  position: fixed;
  left: 2px;
  top: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 4px;
  font-size: 12px;
  color: #888;
  margin-bottom: 18px;
  display: none; }

.dev__small {
  display: block; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  color: #303337;
  margin: 0; }

a {
  color: #068ECF;
  text-decoration: underline; }
  a:hover {
    color: #045e8a; }

.container {
  font-size: 14px;
  flex-grow: 1;
  margin: 0;
  background-size: 1184px 406px;
  background-repeat: repeat-x;
  background-position: left -268px; }

.header {
  line-height: 1;
  padding: 26px 30px 0;
  font-family: "Inter", sans-serif;
  background-color: #343434;
  margin-bottom: 26px; }
  .header::after {
    clear: both;
    content: "";
    display: block; }
  .header--name {
    color: #fff;
    opacity: 1; }
    .header--name a {
      color: #fff; }
    .header--name h1 {
      font-size: 28px;
      padding-bottom: 12px;
      font-weight: 600;
      margin: 0;
      display: inline-block; }
    .header--name h2 {
      color: rgba(255, 255, 255, 0.69);
      font-size: 28px;
      line-height: 1;
      font-weight: 600;
      line-height: 18px;
      margin: 0 0 20px;
      padding-bottom: 6px; }

.container--home {
  background-position: left -280px; }
  .container--home .header {
    margin-bottom: 13px; }
  .container--home .main-nav {
    padding: 0; }
    .container--home .main-nav--item-active {
      background-color: rgba(255, 255, 255, 0.84); }
    .container--home .main-nav a {
      background-color: rgba(255, 255, 255, 0.1); }

.main-nav {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin: 14px 0 0;
  padding: 0;
  text-align: left;
  font-size: 16px; }
  .main-nav--item {
    box-sizing: content-box;
    display: inline-block;
    padding: 0;
    margin: 0 6px 0 0; }
  .main-nav--item__active {
    margin-bottom: 0;
    position: relative; }
  .main-nav .main-nav--item__active a {
    background-color: rgba(255, 255, 255, 0.84);
    color: #2C262F; }
    .main-nav .main-nav--item__active a:hover {
      background-color: #f8f8f8; }
  .main-nav a {
    color: #f8f8f8;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 1px 1px 0 0;
    padding: 13px 22px 13px;
    display: inline-block;
    text-decoration: none;
    border-bottom: none; }
    .main-nav a:hover {
      background-color: #555; }

.home-main {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-weight: 400;
  font-size: 15px; }
  .home-main--firstcol {
    padding: 0 30px 20px;
    -webkit-font-smoothing: antialiased;
    order: 0;
    opacity: 0;
    animation-name: fadeinscale;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }
  .home-main--secondcol {
    order: 1;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    max-width: 520px;
    background-color: #FF4136;
    animation-name: fadeinscale;
    animation-delay: .5s;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }

.home-letter {
  font-size: 14px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
  animation-fill-mode: forwards; }

.footer {
  flex-grow: 3;
  text-align: left;
  color: rgba(0, 0, 0, 0.45);
  line-height: 1.5;
  background-color: #f0f0f0;
  font-size: 14px;
  padding: 20px 30px 24px; }
  .footer a {
    color: rgba(0, 0, 0, 0.45);
    text-decoration: underline; }
  .footer--icon {
    margin: 0 2px; }
  .footer__first {
    padding-bottom: 8px; }
  .footer__toplinks {
    font-weight: 500;
    padding-bottom: 8px; }

.topbar {
  opacity: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: 1000px 40px;
  text-align: left;
  animation-name: fadein;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
  .topbar h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 6px 14px;
    margin: 0; }

.topbar__resume {
  background-color: #3EAAA7; }

.topbar__portfolio {
  display: none; }

.topbar__portfolio-detail {
  height: 21px; }

.topbar--button {
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  margin: 0; }
  .topbar--button a {
    text-decoration: none;
    background-color: #a3dedc;
    color: #284d60;
    font-size: 13px;
    line-height: 13px;
    padding: 3px 12px 3px 8px;
    top: 0;
    left: 0;
    margin: 0; }
    .topbar--button a:hover {
      background-color: #7ed0ce; }

.main {
  margin: 8px 30px;
  padding-top: 2px; }

.main__portfolio {
  -webkit-font-smoothing: antialiased; }

.page-title {
  width: 100%;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0 0 14px;
  position: relative; }
  .page-title--border {
    margin: 0 0 12px;
    padding: 0 0 8px;
    border-bottom: solid 2px #333; }

.header-link {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  position: absolute;
  right: 0;
  top: -14px; }
  .header-link a {
    color: #777;
    text-decoration: none; }
    .header-link a:hover {
      text-decoration: underline; }
  .header-link__icon {
    position: relative;
    top: 10px; }

.clearboth {
  clear: both; }
  .clearboth::after {
    clear: both;
    content: "";
    display: block; }

.portdetail-header {
  font-family: "Inter", sans-serif;
  clear: both;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 18px; }
  .portdetail-header::after {
    clear: both;
    content: "";
    display: block; }
  .portdetail-header .portfolio-panel--subhed {
    margin-bottom: 3px; }
  .portdetail-header h3 {
    font-family: "Inter", sans-serif;
    margin: 0 0 4px;
    padding: 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.1em; }
  .portdetail-header p.portdetail-subhed {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0 0 10px;
    border-bottom: solid 1px #555;
    padding-bottom: 14px; }
  .portdetail-header p.portfolio-panel--subhed {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3; }
  .portdetail-header h5 {
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: solid 1px #333; }
  .portdetail-header p {
    font-weight: 500;
    padding: 1px 0;
    margin: 0;
    font-size: 14px;
    line-height: 14px; }

.portdetail-body {
  opacity: 0;
  animation-name: fadein;
  animation-duration: .6s;
  animation-delay: .25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 10px;
  color: #444;
  font-size: 13px; }
  .portdetail-body h4 {
    font-size: 15px;
    color: #444; }
  .portdetail-body p {
    margin: 1em 0;
    font-size: 14px;
    max-width: 520px; }
  .portdetail-body--image {
    z-index: 10; }
    .portdetail-body--image img {
      max-width: 100%; }

.port-link {
  text-decoration: none; }

.portfolio-panel {
  color: #212023;
  background-color: #fbfbfb;
  box-shadow: -1px 2px 22px 1px rgba(0, 0, 0, 0.04);
  margin: 0 auto 22px;
  padding: 0 14px 18px;
  display: inline-block;
  position: relative;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-name: fadeinscaleport;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
  .portfolio-panel--subhed {
    font-weight: 500;
    margin: 2px 0;
    color: #000;
    opacity: .5; }
  .portfolio-panel:hover {
    box-shadow: -1px 2px 22px 1px rgba(0, 0, 0, 0.06);
    background-color: #fff; }
    .portfolio-panel:hover .portfolio-panel--image img {
      filter: contrast(110%) brightness(101%); }
  .portfolio-panel a {
    text-decoration: none;
    color: #212023; }

.portfolio-panel:nth-child(2) {
  animation-delay: .12s; }

.portfolio-panel:nth-child(3) {
  animation-delay: .24s; }

.portfolio-panel:nth-child(4) {
  animation-delay: .36s; }

.portfolio-panel:nth-child(5) {
  animation-delay: .48s; }

.portfolio-panel:nth-child(6) {
  animation-delay: .60s; }

.portfolio-panel:nth-child(7) {
  animation-delay: .72s; }

.portfolio-panel:nth-child(8) {
  animation-delay: .84s; }

.portfolio-panel:nth-child(9) {
  animation-delay: .98s; }

.portfolio-panel:nth-child(10) {
  animation-delay: 1.1s; }

/*.portfolio-panel::after {
  content: '';
  top: 0; left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  //border-radius: 4px;
  box-shadow: -4px 4px 1px 0 rgba(0,0,0,0.08);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
*/
.portfolio-panel:hover::after {
  opacity: 1; }

.portfolio-panel--image img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.portfolio-panel--header {
  text-decoration: none;
  padding-bottom: 12px; }
  .portfolio-panel--header h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3em;
    vertical-align: top;
    margin: 12px 0 8px 4px;
    padding: 0; }

.portfolio-panel--header h3 {
  font-weight: 700; }

.portfolio-panel--info {
  font-size: 15px;
  margin-left: 4px; }

.portfolio-panel--description {
  display: none; }

.portfolio-panel--image {
  margin: 0 auto; }

.topbar {
  opacity: 0; }

.topbar__resume {
  padding: 3px 8px 4px; }

.topbar--sec1, .topbar--sec2 {
  height: 24px;
  margin: 4px; }

.topbar--resumetextlist, .topbar--resumebuttonlist {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff; }
  .topbar--resumetextlist li, .topbar--resumebuttonlist li {
    display: inline-block; }

.topbar--resumetextlist li {
  margin-right: 4px; }

.topbar--resumetextlist a {
  color: #f8f8f8;
  text-decoration: underline; }

.topbar--resumebuttonlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }
  .topbar--resumebuttonlist li {
    height: 28px; }

.topbar--imgbutton {
  margin-right: 8px; }

.topbar--txtbutton a {
  margin: 0 0 0 10px;
  font-size: 13px;
  background-image: linear-gradient(0deg, #EAEAEA 0%, #FFFFFF 97%);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 4px 10px;
  color: #222;
  background-color: #fff; }

.resume-sec1 {
  display: block;
  max-width: 630px;
  margin-top: 22px;
  margin-bottom: 24px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: .25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
  .resume-sec1 p {
    color: #3b474a; }

.resume-sec2 {
  max-width: 630px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: .36s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.resume-item {
  font-size: 13px;
  margin-bottom: 40px; }
  .resume-item--eyebrow {
    font-family: "Inter", sans-serif;
    color: #7a7a7a;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: .75px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 4px; }
  .resume-item--title {
    font-size: 15px;
    margin: 0 auto;
    color: #212023;
    line-height: 1.3em;
    font-weight: 500;
    margin-bottom: 0; }
  .resume-item--subhead {
    font-weight: 800;
    font-size: 18px;
    color: #333;
    margin-top: 4px;
    margin-bottom: 18px; }
  .resume-item--list {
    padding-bottom: 1px;
    margin-bottom: 8px; }
    .resume-item--list li {
      padding: 0 0 0 2.6em;
      margin-bottom: .9em;
      background: url(../../images/fingah@2x.png) no-repeat 0px 4px;
      background-size: 25px 12px; }

.resume-subhead {
  font-family: "Inter", sans-serif;
  color: #444;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 8px;
  font-weight: 500;
  border-bottom: solid 1px #999;
  letter-spacing: 1.5px;
  margin: 18px 0 19px; }

.resume-quote {
  background-image: url("../../images/open-quote@2x.png");
  background-repeat: no-repeat;
  background-size: 14px 11px;
  background-position: 17px 22px;
  background-color: #fff;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.03);
  padding: .8rem 2rem 1rem;
  border-radius: 1px;
  margin: 18px 0 22px; }

.resume-quote--body {
  position: relative;
  margin-bottom: 10px;
  color: #212023;
  font-size: 14px; }
  .resume-quote--body::after {
    content: ' ';
    position: absolute;
    bottom: 4px;
    right: -8px;
    height: 11px;
    width: 13px;
    background-image: url("../../images/close-quote@2x.png");
    background-size: 13px 11px; }

.resume-quote--person {
  color: #405053;
  font-size: 14px;
  margin-bottom: -3px;
  font-weight: bold; }

.resume-quote--description {
  font-size: 14px;
  color: #637376;
  line-height: 1.4em;
  margin-top: 6px; }

.resume-section {
  font-size: 15px;
  margin: 36px 0;
  line-height: 1.4em; }
  .resume-section p {
    color: #3b474a; }
  .resume-section--linkitem {
    font-weight: 600;
    font-size: 15px; }

.resume-section--header {
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  margin: 10px 0; }

li {
  margin-bottom: 15px; }

@media screen and (min-width: 550px) {
  .dev__small {
    display: none; }
  .dev__medsmall {
    display: block; }
  .container {
    margin: 0;
    background-position: left -252px; }
  .container--home {
    background-position: left -260px; }
    .container--home .header {
      padding: 30px 60px 0; }
      .container--home .header--name {
        margin: 24px 0 22px; }
        .container--home .header--name h1 {
          margin: 0 2px 3px;
          font-size: 37px; }
        .container--home .header--name h2 {
          font-size: 37px;
          line-height: 24px;
          margin-bottom: 28px; }
  .main {
    margin: 12px 60px; }
    .main__portfolio h2 {
      margin: 0 0 10px; }
  .header {
    padding: 30px 60px 0;
    margin-bottom: 22px; }
    .header--name {
      width: auto;
      margin: 14px 0 22px; }
      .header--name h1 {
        font-size: 37px;
        letter-spacing: .5px;
        margin: 0 2px 3px; }
      .header--name h2 {
        letter-spacing: .5px;
        font-size: 37px;
        line-height: 24px;
        margin-bottom: 28px; }
  .page-title {
    font-size: 22px; }
  .portdetail-header h3 {
    font-size: 19px; }
  .portdetail-header p.portdetail-subhed {
    font-size: 15px;
    margin-bottom: 16px;
    padding-bottom: 16px; }
  .portdetail-header p.portfolio-panel--subhed {
    font-size: 16px; }
  .main-nav {
    margin: 8px 0 0; }
    .main-nav a {
      font-size: 16px; }
    .main-nav--item {
      height: auto;
      margin-right: 8px; }
  canvas#canvas {
    width: auto !important;
    height: 560px !important; }
  .home-main--firstcol {
    padding-left: 0;
    width: 100%; }
  .home-letter {
    margin: 2rem auto;
    padding: 0 60px;
    font-size: 15px;
    line-height: 1.4em; }
  .home-main--secondcol {
    margin: 0 60px 50px;
    order: 2;
    max-width: 80%;
    border-bottom: none; }
  .portfolio-panel {
    box-sizing: border-box;
    width: 100%;
    margin: 12px 0;
    padding: 18px 26px 26px; }
    .portfolio-panel--header h3 {
      font-size: 16px;
      margin: 0 auto 6px; }
    .portfolio-panel--info {
      margin: 0 auto 4px; }
    .portfolio-panel--image {
      min-height: 210px; }
  .footer {
    padding: 44px 60px 50px; }
  .topbar__resume {
    height: 32px;
    padding: 3px 0 3px 12px; }
  .topbar--sec1 {
    width: 48%;
    padding: 0;
    margin: 0;
    float: left; }
  .topbar--sec2 {
    margin: 0;
    padding: 3px 0 0;
    width: 48%;
    float: right; }
  .topbar--resumebuttonlist {
    justify-content: flex-end; }
  .resume-item {
    font-size: 15px; }
  .resume-contact {
    margin: 6px auto; }
  .resume-contact-area {
    margin-bottom: 20px; } }

@media screen and (min-width: 641px) {
  .dev__small {
    display: none; }
  .dev__medsmall {
    display: none; }
  .dev__medium {
    display: block; }
  .container--home {
    background-position: left -254px; }
    .container--home .header {
      padding: 30px 74px 1px; }
    .container--home .main-nav--item {
      margin-right: 12px; }
  .container .main-nav--item {
    margin-right: 8px;
    padding-bottom: 0; }
  .header {
    padding: 30px 74px 0; }
  .header--name {
    margin-bottom: 2px; }
    .header--name h1 {
      letter-spacing: -0.25px; }
    .header--name h2 {
      letter-spacing: -0.25px; }
  .home-main {
    justify-content: space-between; }
    .home-main--firstcol {
      width: 100%; }
    .home-main--secondcol {
      margin: 0 74px 50px; }
  .home-letter {
    padding: 0 74px; }
  .main-nav--item {
    padding-bottom: 3px;
    margin-left: 2px; }
    .main-nav--item__active {
      padding-bottom: 7px; }
  .main {
    padding: 10px 74px;
    margin: 0 auto; }
  .topbar__portfolio-detail {
    height: 27px; }
  .topbartopbar--resumetextlist li {
    margin-right: 8px;
    font-size: 13px; }
  .topbar--txtbutton {
    position: relative; }
    .topbar--txtbutton a {
      display: inline-block;
      top: 1px;
      left: 2px;
      padding: 3px 10px; }
  .topbar--button {
    top: 1px; }
    .topbar--button a {
      font-size: 15px;
      padding: 4px 10px 5px 6px; }
  h2.page-title {
    margin-bottom: 16px; }
  .portfolio-panel {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 25px 30px;
    min-height: 180px; }
    .portfolio-panel--header {
      width: 45%;
      padding: 0; }
      .portfolio-panel--header h3 {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 9px; }
    .portfolio-panel--image {
      width: 54%;
      min-height: auto;
      margin-top: 6px; }
    .portfolio-panel--info {
      padding-right: 22px;
      opacity: .9;
      font-size: 14px; }
    .portfolio-panel--subhed {
      font-size: 14px;
      margin-bottom: 4px; }
    .portfolio-panel--description {
      display: block;
      padding-top: 0;
      margin-top: 10px;
      margin-bottom: 6px;
      color: #333; }
  .portdetail-header h3 {
    font-size: 20px;
    line-height: 1.3;
    margin: 0 0 4px;
    padding: 0;
    border-bottom: none; }
  .portdetail-header p.portdetail-subhed {
    padding-bottom: 22px; }
  .portdetail-header p.portfolio-panel--subhed {
    line-height: 1.3;
    font-size: 15px;
    margin-bottom: 4px; }
  .resume-item {
    margin-right: 30px;
    margin-bottom: 50px; }
  .resume-item--subhead {
    margin-bottom: 20px;
    font-size: 16px; }
  .resume-subhead {
    padding-bottom: 13px;
    margin-bottom: 26px; }
  .footer {
    padding: 44px 74px 50px; } }

@media screen and (min-width: 840px) {
  .dev__small {
    display: none; }
  .dev__medsmall {
    display: none; }
  .dev__medium {
    display: none; }
  .dev__medlarge {
    display: block; }
  .spacer100 {
    height: 100px; }
  .spacer250 {
    height: 500px; }
  .spacer500 {
    height: 500px; }
  .container {
    background-position: left -244px; }
    .container--home {
      background-position: left -223px; }
      .container--home .main-nav {
        margin-top: 0; }
        .container--home .main-nav a {
          font-size: 18px;
          padding: 15px 20px 14px; }
        .container--home .main-nav--item {
          font-size: 24px; }
      .container--home .header {
        padding-top: 40px; }
        .container--home .header--name {
          padding-bottom: 14px; }
        .container--home .header h1 {
          margin-bottom: 8px;
          font-size: 36px; }
        .container--home .header h2 {
          font-size: 36px;
          display: block;
          margin-bottom: 0; }
  .home-main {
    flex-direction: row;
    margin-bottom: -150px; }
    .home-main--firstcol {
      box-sizing: border-box;
      padding-right: 40px;
      padding-left: 74px;
      width: 50%;
      min-width: 350px;
      min-height: 500px;
      background-repeat: no-repeat;
      background-size: 103px 110px; }
    .home-main--secondcol {
      box-sizing: border-box;
      width: 50%;
      margin: 0 0 0 30px;
      padding-right: 0;
      border-top: none;
      position: relative;
      border-radius: 3px;
      top: -180px;
      box-shadow: -6px 6px 36px 0px rgba(43, 39, 43, 0.18); }
  .home-letter {
    margin: 24px 0;
    padding: 0;
    position: relative;
    line-height: 1.5; }
  .home-letter--photo {
    display: block;
    position: absolute;
    bottom: -24px;
    left: -35px; }
  .header {
    padding-top: 34px;
    margin-bottom: 22px; }
  .header--name {
    padding-bottom: 4px;
    margin-bottom: 0; }
    .header--name h1 {
      font-size: 31px;
      line-height: 30px;
      margin-right: 10px; }
    .header--name h2 {
      display: inline-block;
      line-height: 20px;
      font-size: 30px; }
  .header--nav {
    padding-top: 0;
    border-top: none; }
  .main-nav {
    line-height: 1.15;
    margin-top: 0; }
    .main-nav--item {
      font-size: 30px;
      line-height: 1.15;
      margin-left: 3px;
      margin-right: 6px; }
      .main-nav--item__active {
        padding-bottom: 7px;
        border-bottom-width: 4px; }
        .main-nav--item__active:before, .main-nav--item__active:hover:before {
          top: -26px;
          left: 30%;
          border-width: 16px 25px 0 25px; }
  h2.page-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 24px; }
    h2.page-title--border {
      margin-bottom: 8px;
      border-bottom: solid 2px #777; }
  .topbar__portfolio-detail {
    display: block;
    margin-bottom: 8px;
    height: 28px; }
  .topbar--button {
    top: 2px; }
    .topbar--button a {
      font-size: 14px;
      padding-top: 6px;
      padding-bottom: 6px; }
  .resume-item {
    font-size: 15px;
    line-height: 1.4; }
    .resume-item--eyebrow {
      font-size: 14px; }
    .resume-item--title {
      font-size: 17px;
      font-weight: 600; }
    .resume-item--subhead {
      font-size: 19px;
      font-weight: 800; }
  .main__portfolio {
    display: block; }
  .main {
    padding-top: 10px; }
  .portfolio-panel {
    padding: 0;
    width: 100%;
    margin: 0 0 28px 0; }
    .portfolio-panel--header {
      padding: 20px 34px 20px 36px; }
      .portfolio-panel--header h3 {
        font-size: 15px;
        margin: 0 0 4px 0;
        line-height: 1.4; }
    .portfolio-panel--image {
      min-height: 200px;
      margin-top: 0; }
    .portfolio-panel--description {
      margin-top: 10px;
      font-size: 14px; }
  .portdetail-header h3 {
    font-size: 18px; }
  .portdetail-header .portfolio-panel--subhed {
    font-size: 15px;
    margin: 0; }
  .portdetail-body {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.5em; }
    .portdetail-body div:first-of-type a.portdetail-body--image:first-child::after {
      content: " click images to enlarge";
      color: #aaa;
      font-size: 14px;
      font-style: italic;
      position: relative;
      left: 6px;
      text-align: left;
      display: block; }
    .portdetail-body h4 {
      font-size: 18px;
      margin-top: 28px;
      margin-bottom: 12px;
      margin-right: 570px;
      line-height: 1.3; }
    .portdetail-body p, .portdetail-body ul, .portdetail-body blockquote {
      font-size: 15px;
      max-width: 570px; }
    .portdetail-body--section {
      position: relative;
      margin-bottom: 60px; }
      .portdetail-body--section.long {
        margin-bottom: 140px; }
      .portdetail-body--section.longer {
        margin-bottom: 190px; }
      .portdetail-body--section.longest {
        margin-bottom: 390px; }
    .portdetail-body--image {
      text-decoration: none; }
      .portdetail-body--image img {
        margin: 0;
        display: block; }
  .lb-caption {
    font-size: 15px !important;
    padding-bottom: 4px !important;
    line-height: 1.5em !important; }
  .lb-data, .lb-number {
    font-size: 13px !important;
    line-height: 1.5em !important; }
  .lb-dataContainer {
    padding-top: 7px !important; }
  .footer {
    text-align: left;
    margin-top: 24px;
    padding: 60px 60px 75px; }
    .footer__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; }
    .footer__last {
      text-align: right; }
    .footer__icon {
      margin: 0 5px; }
    .footer__middle {
      margin: 0; }
  .resume-sec1 {
    width: 47%;
    float: left;
    margin-top: 0;
    padding-right: 30px;
    border-bottom: none; }
  .resume-sec2 {
    width: 47%;
    float: right; }
  .resume-quote {
    background-position: 24px 36px;
    padding: 16px 46px 23px;
    margin-bottom: 34px; }
    .resume-quote--body {
      font-size: 14px;
      line-height: 1.4; }
      .resume-quote--body:after {
        right: -12px; }
    .resume-quote--person {
      font-size: 14px;
      color: #444; }
    .resume-quote--description {
      font-size: 14px; }
  .resume-contact-area {
    margin-bottom: 36px; }
  .resume-section {
    font-size: 15px;
    margin: 50px 0; } }

@media screen and (min-width: 960px) {
  .container--home {
    background-position: left -204px; }
    .container--home .main-nav--item {
      margin-right: 10px; }
    .container--home .main-nav a {
      padding: 15px 24px 16px; }
    .container--home .header {
      padding: 48px .container--home .header 84px 0;
      padding-right: 84px;
      padding-left: 84px;
      padding-top: 56px; }
      .container--home .header--name {
        padding-bottom: 14px; }
      .container--home .header h1 {
        padding-bottom: 10px; }
      .container--home .header h2 {
        display: block; }
  .header {
    padding-left: 84px;
    padding-right: 84px; }
  .portdetail-body h4 {
    font-weight: 600;
    margin-top: 32px; }
  .portdetail-body p {
    margin: 1.2em 0; }
  .portdetail-body p, .portdetail-body ul, .portdetail-body blockquote {
    margin-right: 590px;
    line-height: 1.4; }
  .portdetail-body--image {
    position: relative;
    right: 12px;
    margin-bottom: 30px;
    text-align: center;
    float: right;
    clear: right;
    width: 520px;
    margin-top: -10px; }
    .portdetail-body--image--top {
      margin-top: -180px;
      position: relative; }
    .portdetail-body--image--topless {
      margin-top: -124px;
      position: relative; }
    .portdetail-body--image--topmore {
      margin-top: -185px;
      position: relative; }
  .portdetail-header h3 span {
    margin-right: 590px; }
  .portdetail-header p.portdetail-subhed {
    font-size: 15px;
    margin: 0 0 21px; }
  .portdetail-header p.portdetail-subhed {
    margin-right: 590px; }
  .portdetail-header p.portfolio-panel--subhed {
    margin-right: 590px;
    opacity: .45;
    margin-bottom: 2px; }
  .home-main--firstcol {
    min-width: 430px;
    padding-left: 84px; }
  .home-main--secondcol {
    margin: 0 60px 0 0px;
    top: -185px;
    padding-right: 84px; }
  .main {
    padding: 10px 84px; }
    .main__portfolio-detail {
      padding-right: 24px; }
  .portfolio-panel {
    margin: 0 0 36px 0; }
    .portfolio-panel--header {
      padding: 24px 40px 20px 50px; }
      .portfolio-panel--header h3 {
        font-size: 17px;
        line-height: 1.3; }
    .portfolio-panel--info {
      font-size: 15px; }
    .portfolio-panel--subhed {
      font-weight: 500;
      opacity: .58;
      font-size: 14px;
      margin-bottom: 1px; }
    .portfolio-panel--image {
      min-height: 232px; }
  .home-letter {
    font-size: 15px;
    width: auto;
    margin: 2rem 0 2rem;
    padding: 0; }
  .home-letter--photo {
    left: -55px; }
  .resume-sec1 {
    width: 58%; }
  .resume-sec2 {
    width: 37%; } }

@media screen and (min-width: 1242px) {
  body {
    background-color: #f8f8f8; }
  .main-nav {
    margin: 0; }
  .dev__small {
    display: none; }
  .dev__medsmall {
    display: none; }
  .dev__medium {
    display: none; }
  .dev__medlarge {
    display: none; }
  .dev__large {
    display: block; }
  .header {
    margin: 0 auto;
    padding-top: 45px; }
    .header--name {
      max-width: 1080px;
      margin: 0 auto; }
    .header .main-nav {
      max-width: 1080px;
      margin: 0 auto; }
  .home-main {
    max-width: 1080px;
    margin: 0 auto -175px; }
    .home-main--firstcol {
      padding: 0;
      width: 420px;
      min-height: 450px; }
    .home-main--secondcol {
      top: -210px;
      padding: 0;
      margin: 0 0 50px 0;
      width: 580px;
      height: 512px;
      border-radius: 5px; }
  .main {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46px; }
    .main__portfolio-detail {
      padding-right: 84px; }
  .container--home .main-nav {
    margin-top: 13px;
    max-width: 1080px; }
    .container--home .main-nav a {
      font-size: 18px;
      padding: 17px 30px; }
  .container--home .header--nav {
    margin: 0 auto; }
  .container--home .header--name {
    max-width: 1080px;
    margin: 34px auto;
    padding-bottom: 20px; }
    .container--home .header--name h1 {
      margin-top: 20px;
      font-size: 44px;
      padding-bottom: 18px; }
    .container--home .header--name h2 {
      font-size: 44px;
      display: block; }
  canvas#canvas {
    height: 512px !important;
    width: 580px !important; }
  .home-letter {
    margin-top: 2.4rem;
    font-size: 17px;
    width: 420px;
    line-height: 1.5em;
    color: #111; }
  .portfolio-panel--header {
    flex-grow: 1;
    padding: 45px 64px 20px 60px; }
    .portfolio-panel--header h3 {
      font-size: 18px;
      margin-bottom: 7px; }
  .portfolio-panel--info {
    font-size: 16px; }
  .portfolio-panel--subhed {
    font-size: 15px;
    margin: 0; }
    .portfolio-panel--subhed span {
      font-size: 16px; }
  .portfolio-panel--image {
    width: 485px; }
    .portfolio-panel--image img {
      width: 485 px;
      height: auto; }
  .portfolio-panel--description {
    margin-top: 15px;
    font-size: 15px; }
  .portfolio-panel--image {
    flex-grow: 0; }
  .resume-sec1 {
    width: 65%;
    padding-right: 0; }
  .resume-sec2 {
    max-width: 655px;
    width: 35%; }
  .portdetail-header {
    margin-right: -8px;
    width: 1088px; }
  .portdetail-body--section {
    margin-bottom: 60px; }
    .portdetail-body--section.long {
      margin-bottom: 140px; }
    .portdetail-body--section.longer {
      margin-bottom: 220px; }
    .portdetail-body--section.longest {
      margin-bottom: 420px; }
  .portdetail-body--image {
    margin-bottom: 50px; }
  .footer {
    font-size: 16px;
    padding: 50px 0 95px; }
    .footer__inner {
      margin: 0 auto;
      width: 1080px; } }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(15, 73, 102, 0.8) url(../../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5; }
    .cd-top.cd-fade-out:hover {
      opacity: 1; }
  .no-touch .cd-top:hover {
    background-color: #0f4966;
    opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: calc(50% - 480px);
    bottom: 40px; } }

/*# sourceMappingURL=main.css.map */