
$margin-side: 60px;

@media screen and (min-width: 550px) { //medsmall
  // 520 is width of flash element

  .dev__small {
    display: none;
  }
  .dev__medsmall {
    display: block;
  }

  .container {
    margin: 0;

    background-position: left -252px;
  }
  .container--home {
    background-position: left -260px;
    .header {
      padding: 30px $margin-side 0;
      &--name {
        margin: 24px 0 22px;
        h1 {
          margin: 0 2px 3px;
          font-size: 37px;
          span {
            // display: inline-block;
          }
  
        }
        h2 {
          font-size: 37px;
          line-height: 24px;
          margin-bottom: 28px;
        }
      }
    }
    .main-nav {
    }
  }

  .main {
    margin: 12px $margin-side;
    &__portfolio {
      h2 {
        margin: 0 0 10px;
      }
    }
  }

  .header {
    padding: 30px $margin-side 0;
    margin-bottom: 22px;
    &--name {
      width: auto;
      margin: 14px 0 22px;
      h1 {
        font-size: 37px;
        letter-spacing: .5px;
        margin: 0 2px 3px;
        span {
          // display: inline-block;
        }

      }
      h2 {
        letter-spacing: .5px;
        font-size: 37px;
        line-height: 24px;
        margin-bottom: 28px;
      }
    }
  }

  .page-title {
   font-size: 22px;
  }
  .portdetail-header {
    h3 {
      font-size: 19px;
    }
    p.portdetail-subhed {
      font-size: 15px;
      margin-bottom: 16px;
      padding-bottom: 16px;
    }
    p.portfolio-panel--subhed {
      font-size: 16px;
    }
  }
  .main-nav {
    margin: 8px 0 0; 
    a {
      font-size: 16px;
    }
    &--item {
      height: auto;
      margin-right: 8px;
    }
  }


  canvas#canvas {
    width: auto!important;
    height: 560px!important;
  }

  .home-main--firstcol {
    // width: 30%;
    padding-left: 0;
    width: 100%;
  }
  .home-letter {
    margin: 2rem auto;
    padding: 0 $margin-side;
    font-size: 15px;
    line-height: 1.4em;
  }

  .home-main--secondcol {
    margin: 0 $margin-side 50px;
    order: 2;
    max-width: 80%;
    border-bottom: none;
  }

  .portfolio-panel {
    box-sizing: border-box;
    width: 100%;
    margin: 12px 0;
    padding: 18px 26px 26px;
    &--header {
      h3 {
        font-size: 16px;
        margin: 0 auto 6px;
      }
    }
    &--info {
      margin: 0 auto 4px;
    }
    &--image {
      min-height: 210px;
    }
  }

  .footer {
    padding: 44px $margin-side 50px;
  }
  .topbar__resume {
    height: 32px;
    padding: 3px 0 3px 12px;
  }

  .topbar--sec1 {
    width: 48%;
    padding: 0; margin: 0;
    float: left;
  }
  .topbar--sec2 {
    margin: 0;
    padding: 3px 0 0;
    width: 48%;
    float: right;
  }
  .topbar--resumebuttonlist {
    justify-content: flex-end;
  }

  .resume-item {
    font-size: 15px;

  }
  .resume-subhead {

  }
  .resume-item--eyebrow {

  }
  .resume-item--title {

  }
  .resume-item--subhead {

  }
  .resume-contact {
    margin: 6px auto;
  }
  .resume-contact-area {
    margin-bottom: 20px;
  }

} // end @media min-width 520
