@media screen and (min-width: 840px) { // medlarge
  .dev__small {
    display: none;
  }
  .dev__medsmall {
    display: none;
  }
  .dev__medium {
    display: none;
  }
  .dev__medlarge {
  //  display: block;
  }

    .container {
      margin: 3rem 3rem;
    }
    .home-main {
      flex-direction: row;
    }
    .home-main--firstcol {
      width: auto;
      min-width: 350px;
      min-height: 500px;
      background-repeat: no-repeat;
      background-size: 103px 110px;
      border-right: solid 12px #fff;
    }
    .animation-overlay {

    }
    .home-main--secondcol {
      width: 534px;
      border-top: none;
    }
    .home-letter{
      margin: 2.5rem auto 1rem;
      padding: 0 3.4rem 0 3.8rem;
      font-size: 16px;
      position: relative;
    }
    .home-letter--hellotext {
      font-size: 19px;
    //  line-height: auto;
    }
    .home-letter--photo {
      display: block;
      position: absolute;
      bottom: -24px;
      left: -35px;
    }
    .home-letter--signature {

    }
    .header {
      border-bottom-width: 5px;
      margin-bottom: 16px;
    }

    .header--name {
      float: left;
      padding-bottom: 4px;
      margin-bottom: 0;
      h1 {
        font-size: 34px;
        line-height: 34px;
        span {
          display: inline-block;
          font-size: 34px;
          margin: 0 6px 0 2px;
        }
      }
      h2 {
        display: inline-block;
        letter-spacing: -.5px;
        line-height: 32px;
        font-size: 32px;
      }
    }
    .header--nav {
      padding-top: 0;
      border-top: none;
      float: right;
    }
    .main-nav--item {
      font-size: 32px;
      line-height: 35px;
      margin-left: 12px;
      margin-right: 0;
    }
    .main-nav--item__active {
      padding-bottom: 7px;
      border-bottom-width: 4px;
    }

    .topbar__portfolio-detail {
      display: block;
      margin-bottom: 12px;
      height: 33px;
    }
    .topbar--button {
      a {
        border: solid 2px #fff;
        background-color: #fff;
        font-size: 19px;
      }
    }

    .main__portfolio {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }

    .portfolio-panel {
      width: 48%;
      margin: 0 0 28px 0;
    }
    .portfolio-panel--image {
      min-height: 200px;
    }
    .portfolio-panel--header {
      h3 {
        font-size: 16px;
        width: 53%;

      }
    }
    .portfolio-panel--info {
      width: 40%;
      margin-top: 6px;
      display: inline-block;
      text-align: right;
      p {

      }
    }
    .portdetail-header {
      h3 {
        font-size: 24px;
        margin-top: 34px;
      }
      p {
        font-size: 13px;
        margin-top: 8px;
      }
    }
    .portdetail-body {
      margin-top: 15px;
      font-size: 15px;
      line-height: 1.45em;
      h4 {
        font-size: 17px;
        margin-top: 28px;
      }
      p, ul, blockquote {
        font-size: 15px;
        max-width: 570px;
      }
    }
    .portdetail-body--image {
    }
    .footer {
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      a {

      }
      text-align: left;
    }
    .footer--first {

    }
    .footer--icon {
      margin: 0 5px;
    }
    .footer--middle {
      margin: 0;
    }

  .resume-sec1 {
    width: 64%;
    float: left;
    margin-top: 8px;
    padding-right: 30px;
    border-bottom: none;
  }
  .resume-sec2 {
    width: 36%;
    float: right;
    margin-top: 20px;
  }
}// end @media min-width 840

@media screen and (min-width: 890px) {
  .portfolio-panel {
  //  margin: 12px 12px 10px;
    h3 {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 960px) {

  .portdetail-body {

    h4 {
      margin-top: 32px;
    }
    p {
      margin: 1.2em 0;
    }
    p, ul, blockquote {
      margin-right: 570px;

    }
  }

  .home-main--firstcol {
    min-width: 430px;
  }
  .portfolio-panel--image {
    min-height: 232px;
  }
  .portdetail-body--image {
    text-align: center;
    float: right;
    clear: right;
    width: 520px;
    margin-bottom: 20px;
    img {
      margin: 0 auto;
    }
  }

  .home-letter {
    width: 350px;
    margin: 3rem auto 2rem;
    padding: 0 30px 0 40px;
  }
  .home-letter--photo {
    left: -55px;
  }
}
