@media screen and (min-width: 840px) { // medlarge
  .dev__small {
    display: none;
  }
  .dev__medsmall {
    display: none;
  }
  .dev__medium {
    display: none;
  }
  .dev__medlarge {
    display: block;
  }

  .container {
    background-position: left -244px;
    &--home {
      background-position: left -223px;
      .main-nav {
        margin-top: 0;
      }
      .header { // HOMEPAGE
        padding-top: 40px;
        &--name {
          padding-bottom: 19px;
        }
        h2 {
          display: block;
        }
      }
    }
  }
  .home-main {
    flex-direction: row;
    &--firstcol {
      box-sizing: border-box;
      padding-left: $margin-side;
      width: 50%;
      min-width: 350px;
      min-height: 500px;
      background-repeat: no-repeat;
      background-size: 103px 110px;
    }
    &--secondcol {
      box-sizing: border-box;
      width: 50%;
      margin: 0 60px 0 30px;
      padding-right: 60px;
      border-top: none;
      position: relative;
      border-radius: 3px;
      top: -130px;
      box-shadow: -6px 6px 36px 0px rgba(43,39,43,0.18);

    }
  }

  .home-letter{
    margin: 24px 0;
    padding: 0;
    position: relative;
    line-height: 1.5;
  }

  .home-letter--photo {
    display: block;
    position: absolute;
    bottom: -24px;
    left: -35px;
  }

  .header { // non-homepage
    padding-top: 34px;
    margin-bottom: 12px;
  }

  .header--name {
    padding-bottom: 4px;
    margin-bottom: 0;
    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-right: 10px;
    }
    h2 {
      display: inline-block;
      line-height: 30px;
      font-size: 24px;
    }
  }
  .header--nav {
    padding-top: 0;
    border-top: none;
  }

  .main-nav {
    line-height: 1.15;
    &--item {
      font-size: 30px;
      line-height: 1.15;
      margin-left: 3px;
      margin-right: 6px;
      &__active {
        padding-bottom: 7px;
        border-bottom-width: 4px;
        &:before, &:hover:before {
          top: -26px;
          left: 30%;
          border-width: 16px 25px 0 25px;
        }
      }
    }
  }

  .page-title {
    font-size: 28px;
    letter-spacing: 0.25px;
  }
  h2.page-title {
    margin-bottom: 24px;
  }

  .topbar__portfolio-detail {
    display: block;
    margin-bottom: 8px;
    height: 28px;
  }
  .topbar--button {
    top: 2px;
    a {
      font-size: 14px;
      padding-top: 6px;
      padding-bottom: 6px;
    }

  }


  .resume-item {
    font-size: 16px;
    line-height: 1.45;
    &--eyebrow {
      font-size: 15px;
    }
    &--title {
      font-size: 20px;
      font-weight: 600;
    }
    &--subhead {
      font-size: 19px;
      font-weight: 800;
    }
  }

  .main__portfolio {
    display: block;
  }

  .main {
    padding-top: 10px;
  }

  .portfolio-panel {
    padding: 0;
    width: 100%;
    margin: 0 0 28px 0;
    &--header {
      padding: 16px 34px 14px 36px;
      h3 {
        font-size: 20px;
        margin: 0 0 6px 0;
        line-height: 1.4;
      }
    }
    &--info {
      p {

      }
    }
    &--image {
      min-height: 200px;
      margin-top: 0;
    }
    &--description {
      margin-top: 10px;
    }


  }

  .portdetail-header {
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .portfolio-panel--subhed {
      font-size: 16px;
      margin-bottom: 7px;
    }
  }
  .portdetail-body {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.5em;
    h4 {
      font-size: 20px;
      margin-top: 28px;
      margin-bottom: 12px;
      margin-right: 570px;
      line-height: 1.3;
    }
    p, ul, blockquote {
      font-size: 16px;
      max-width: 570px;
    }
    &--section {
      position: relative;
    }
    &--image {
      &--top {
      }
      &--topmore {
      }
    }
  }
  .lb-caption {
    font-size: 15px!important;
    padding-bottom: 4px!important;
    line-height: 1.5em!important;
  }
  .lb-data, .lb-number {
    font-size: 13px!important;
    line-height: 1.5em!important;

  }
  .lb-dataContainer {
    padding-top: 7px!important;
  }
  .footer {
    text-align: left;
    margin-top: 24px;
    padding: 60px 60px 75px;
    a {

    }
    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &__last {
      text-align: right;
    }
    &__icon {
      margin: 0 5px;
    }
    &__middle {
      margin: 0;
    }
  }


  .resume-sec1 {
    width: 47%;
    float: left;
    margin-top: 0;
    padding-right: 30px;
    border-bottom: none;
  }
  .resume-sec2 {

    width: 47%;
    float: right;
  }
  .resume-quote {
    background-position: 24px 36px;
    padding: 16px 46px 23px;
    margin-bottom: 34px;
    &--body {
      font-size: 16px;
      line-height: 1.45;
      &:after {
        right: -12px;
      }
    }
    &--person {
      font-size: 16px;
      color: #444;
    }
    &--description {
      font-size: 15px;
    }
  }
  .resume-contact-area {
    margin-bottom: 36px;
  }
  .resume-section {
    font-size: 16px;
    margin: 50px 0;
  }
}// end @media min-width 840

@media screen and (min-width: 890px) {
  .portfolio-panel {
  //  margin: 12px 12px 10px;

  }
}

//===============================================
//===============================================


// 9 6 0

//===============================================
//===============================================

@media screen and (min-width: 960px) {
  $margin-side: 84px;
  .container {
    &--home {
      background-position: left -204px;
      .main-nav {

        &--item {
          margin-right: 16px;
        }
        a {
          padding: 16px 24px 17px;
          font-size: 20px;
        }
      }
      .header { // HOMEPAGE
//        padding-top: 40px;
        padding: 48px &$margin-side 0;
        padding-right: $margin-side;
        padding-left: $margin-side;
        &--name {
          padding-bottom: 24px;
        }

        h1 {
          font-size: 27px;
          padding-bottom: 12px;
        }
        h2 {
          font-size: 27px;
          display: block;
        }
      }
    }
  }

  .header { /// not da HOMEPAGE
    padding-left: $margin-side;
    padding-right: $margin-side;
  }
  .portdetail-body {
    h4 {
      margin-top: 32px;
    }
    p {
      margin: 1.2em 0;
    }
    p, ul, blockquote {
      margin-right: 590px;
  //    font-size: 17px;
      line-height: 1.45;
    }
    &--image {
        position: relative;
        right: 12px;
        margin-bottom: 30px;
        text-align: center;
        float: right;
        clear: right;
        width: 520px;
        img {
          margin: 0 auto;
        }
      &--top {
        margin-top: -130px;
        position: relative;
      }
      &--topmore {
        margin-top: -155px;
        position: relative;
      }
    }
  }

  .portdetail-header {

  }

  .home-main {
    &--firstcol {
      min-width: 430px;
      padding-left: $margin-side;
    }
    &--secondcol {
      margin: 0 $margin-side 0 0px;
      top: -146px;
      padding-right: $margin-side;
    }
  }

  .main {
    padding: 10px $margin-side;
  }

  .portfolio-panel {
    margin: 0 0 36px 0;
    &--header {
      padding: 24px 40px 20px 50px;

      h3 {
        font-size: 22px;
      }
    }
    &--info {
      font-size: 15px;
      p {

      }
    }
    &--subhed {
    //  margin-bottom: 0;
    }
    &--image {
      min-height: 232px;
    }
    &--description {

    }
  }


  .home-letter {
    font-size: 18px;
    width: auto;
    margin: 2rem 0 2rem;
    padding: 0;

  }
  .home-letter--photo {
    left: -55px;
  }
  .resume-sec1 {
    width: 58%;
  }
  .resume-sec2 {
    width: 37%;
  }
}
