// $maincolor: #FF1616;
$maincolor: #FF4136;
$secondarycolor: #18303e;
$linkcolor: #4F5156;
$light-color: #F9FAF6;

$body-copy-color: #303337;
$darker-body-copy-color: #212023;
$lighter-body-copy-color: #465659;
// old text color 4F5156

$header-text-color: $light-color;
$header-nav-color: #526C80;
$header-nav-bg-color: #526C80;

$background-color: $light-color;
$portfoliodetail-topbar-color: #9c9c9c;
$resume-topbar-color: #334850;
$dark-header-color: #19303C;
$dark-nav-text-color: #2C262F;
$topbar-accent: #3EAAA7;
$footer-background-color: #EDEEEA;
$footer-color: #787A7B;

$font-sans-serif: futura-pt, sans-serif;
$font-body: ff-tisa-web-pro, serif;

$portfolio-panel-bg: #EEEFEB;

$margin-top: 20px;
$margin-side: 30px;

// tisa pro — 
//   normal: 400
//   medium: 600
//   bold: 700
// futura pt -
//   book: 400
//   medium: 500
//   demi: 600
// futura-pt-bold
//   (no variants)

.dev {
    position: fixed;
    left: 2px; top: 2px;
    background-color: rgba(255,255,255,0.70);
    padding: 0 4px;
    font-size: 12px;
    color: #888;
    margin-bottom: 18px;
    display: none;
}

.dev__small {
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  font-family: $font-body;
  line-height: 1.4;
  color: $body-copy-color;
  margin: 0;
}

a {
  color: $linkcolor;
  text-decoration: underline;
  &:hover {
    color: darken($linkcolor, 14%);
    //text-decoration: underline;
  }
}

.container {
  flex-grow: 1;
  margin: 0;
  background-image: url('/images/hdr-texture@2x.png');
  background-size: 1184px 406px;
  background-repeat: repeat-x;
  background-position: left -268px;
}

.header {
  line-height: 1;
  padding: 26px $margin-side 0;
  font-family: $font-sans-serif;

  @include clearfix;
  &--name {
    text-transform: uppercase;
    color: $header-text-color;
//    opacity: .93;
    opacity: 1;
    letter-spacing: 2px;
    a {
      color: $header-text-color;
    }
    h1 {
      font-family: futura-pt-bold, sans-serif;
      font-size: 18px;
      padding-bottom: 6px;
      margin: 0;
      display: inline-block;
    }
    h2 {
      font-size: 18px;
      line-height: 1;
      font-weight: 300;
      line-height: 18px;
      margin: 0 0 8px;
    }
  }
  &--nav {

  }
}

.container--home {
  background-position: left -280px;
  .header {
    padding: $margin-top $margin-side 0;
    &--name {
      h1 {
        font-size: 22px;
        padding-bottom: 5px;
        margin: 0;
      }
      h2 {
        font-size: 22px;
        line-height: 1;
        line-height: 21px;
        margin: 0 0 8px;
      }
    }
    &--name {
      a {}
      h1 {}
      h2 {}
    }
    &--nav {}
  }
  .main-nav { //        HOME!  HOME!  HOME!
    margin: 18px 0 0;
    padding: 0;
    &--item {
      height: 22px;
      padding: 0 0 8px 0;
      margin: 0 5px 0 0;
    }
    &--item-active {
      padding-bottom: 6px;
      margin-bottom: 0;
    }
    a {
      padding: 10px 18px 13px;
      font-size: 18px;
      border-radius: 4px;
    }
  }
}

.main-nav {
  font-weight: 500;
  margin: 18px 0 0;
  padding: 0;
  text-align: left;
  letter-spacing: 1px;
  &--item {
    box-sizing: content-box;
    display: inline-block;
    height: 20px;
    padding: 0 0 6px 0;
    margin: 0 5px 0 0;
  }
  &--item__active {
    padding-bottom: 6px;
    margin-bottom: 0;
    position: relative;
  }
  & .main-nav--item__active {
    a {
      background-color: $background-color;
      color: $dark-nav-text-color;
      padding-bottom: 12px;
      &:hover {
        background-color: $background-color;
      }
    }
  }
  a {
    color: $header-text-color;
    border-radius: 4px 4px 0 0;
    padding: 10px 18px 9px;
    font-size: 16px;
    display: inline-block;
    background-color: $header-nav-bg-color;
    text-decoration: none;
    &:hover {
      background-color: darken($header-nav-bg-color, 10%);
    }
  }
}

.home-main {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-weight: 400;
  font-size: 15px;
  &--firstcol {
    padding: 0 $margin-side 16px;
    -webkit-font-smoothing: antialiased;
    order: 0;
    opacity: 0;
    animation-name: fadeinscale;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  &--secondcol {
    order: 1;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    max-width: 520px;
    background-color: $maincolor;
    animation-name: fadeinscale;
    animation-delay: .6s;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  //  transform: perspective( 600px ) rotateY( 25deg );
  }
}

.home-letter {
  font-size: 16px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-delay: .7s;
  animation-fill-mode: forwards;
}

.footer {
  flex-grow: 3;
  text-align: left;
  color: $footer-color;
  line-height: 1.5;
  background-color: $footer-background-color;
  font-size: 15px;
  padding: 20px $margin-side 24px;
  a {
    color: $footer-color;
    text-decoration: underline;
  }
  &--icon {
    margin: 0 2px;
  }
  &__first {
    padding-bottom: 8px;
  }
  &__toplinks {
    font-weight: 600;
    padding-bottom: 8px;
  }
  &__sublinks {

  }
  &__last {

  }
}


.topbar {
  opacity: 0;
  position: relative;
//  background-color: #555;
  // background-color: rgba(32, 65, 85, 0.96);
  background-repeat: no-repeat;
  background-size: 1000px 40px;
//  height: 24px;
  text-align: left;
    animation-name: fadein;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 6px 14px;
    margin: 0;
    color: #FFFFFF;
  }
}

.topbar__resume {
  background-color: $topbar-accent;
}
.topbar__portfolio {
  display: none;

//  background-image: url(/images/topbar-a@2x.png);
}
.topbar__portfolio-detail {
//  background-image: url(/images/topbar-b@2x.png);
  height: 21px;
}
.topbar--button {

  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  margin: 0;
  a {
    text-decoration: none;
    background-color: lighten($topbar-accent, 30%);
    color: lighten($dark-header-color, 10%);
    font-size: 13px;
    line-height: 13px;
    padding: 3px 12px 3px 8px;
    top: 0;
    left: 0;
  //  border: solid 2px #ccc;
    margin: 0;
    &:hover {
      background-color: lighten($topbar-accent, 20%);
    }
  }
}

.main {
  margin: 8px $margin-side;
  padding-top: 2px;
}
.main__portfolio {
  -webkit-font-smoothing: antialiased;
//  padding-top: 24px;
}
.main__portfolio-detail {
}

.page-title {
  width: 100%;
  font-size: 22px;
  letter-spacing: 0.5px;
  font-family: $font-sans-serif;
  font-weight: 700;
  margin: 0 0 14px;
}

.clearboth {
  @include clearfix;
  clear: both;
}
.portdetail-header {
  @include clearfix;
  clear: both;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 18px;
  .portfolio-panel--subhed {
    margin-bottom: 3px;
  }
  h3 {
    font-family: $font-sans-serif;
    margin: 0 0 12px;
    padding: 0 0 8px;
    font-weight: 500;
    font-size: 24px;
    border-bottom: solid 1px #c3c3c3;
  }
  h5 {
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 500;

    border-bottom: solid 1px #333;
  }
  p {
    font-weight: 500;
    padding: 1px 0;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }
}

.portdetail-body {
  opacity: 0;
  animation-name: fadein;
  animation-duration: .6s;
  animation-delay: .25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 10px;
  color: #444;
  font-size: 13px;
  h4 {
    font-size: 15px;
    color: #444;
  }
  p {
    margin: 1em 0;
    font-size: 14px;
    max-width: 520px;

  }
  &--image img {
    max-width: 100%;
  }
}

.port-link {
  text-decoration: none;
}

.portfolio-panel {
  color: $darker-body-copy-color;
  background-color: $portfolio-panel-bg;
  margin: 0 auto 22px;
  padding: 0 14px 18px;
  display: inline-block;
  //border-radius: 4px;
  position: relative;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // thx to Tobias Ashlin, a genius http://tobiasahlin.com/blog/how-to-animate-box-shadow/
  animation-name: fadeinscaleport;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &:hover {
//    box-shadow: 0 2px 14px 1px rgba(0, 0, 0, 0.07);
    background-color: #E7E8E4; // #EEEFEB;
    .portfolio-panel--image img {
      filter: contrast(110%) brightness(92%);
    }
  }
  a {
    text-decoration: none;
    color: $darker-body-copy-color;
  }
}


.portfolio-panel:nth-child(2) {
  animation-delay: .12s;
}
.portfolio-panel:nth-child(3) {
  animation-delay: .24s;
}
.portfolio-panel:nth-child(4) {
  animation-delay: .36s;
}
.portfolio-panel:nth-child(5) {
  animation-delay: .48s;
}
.portfolio-panel:nth-child(6) {
  animation-delay: .60s;
}
.portfolio-panel:nth-child(7) {
  animation-delay: .72s;
}
.portfolio-panel:nth-child(8) {
  animation-delay: .84s;
}
.portfolio-panel:nth-child(9) {
  animation-delay: .98s;
}
.portfolio-panel:nth-child(10) {
  animation-delay: 1.1s;
}

/*.portfolio-panel::after {
  content: '';
  top: 0; left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  //border-radius: 4px;
  box-shadow: -4px 4px 1px 0 rgba(0,0,0,0.08);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
*/
.portfolio-panel:hover::after {
  opacity: 1;
}
.portfolio-panel--image {
//  border-radius: 0 0 4px 4px;
//  min-height: 161px;

}
.portfolio-panel--image img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.portfolio-panel:hover .portfolio-panel--image img {
}

.portfolio-panel:hover .portfolio-panel--header {
//  box-shadow: -2px 2px 12px 0 rgba(0,0,0,0.3);
//  transition: opacity 0.3s ease-in;
}

.portfolio-panel--header {
  text-decoration: none;
  padding-bottom: 12px;
//  border-radius: 4px 4px 0 0;
  h3 {
    font-weight: 600;
    letter-spacing: auto;
    font-size: 18px;
    vertical-align: top;
    margin: 8px 0 4px 4px;
    padding: 0;
  }
}

.portfolio-panel {
  &--header {
    h3 {
      font-weight: 800;
    }
  }
  &--info {
    font-size: 14px;
    margin-left: 4px;
  }
  &--subhed {
    color: #333;
    margin: 0;
    span {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
    }
  }
  &--description {
    display: none;
  }
  &--image {
    margin: 0 auto;
  }
}


.topbar {
  opacity: 0;

}
.topbar__resume {
//  height: 39px;
  padding: 3px 8px 4px;
}

.topbar--sec1, .topbar--sec2 {
  height: 24px;
  margin: 4px;
}

.topbar--resumetextlist, .topbar--resumebuttonlist {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding:0;
  display: inline-block;
  color: #fff;
  li {
    display: inline-block;
  }
}
.topbar--resumetextlist {
  li {
    margin-right: 4px;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}
.topbar--resumebuttonlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  li {
    height: 28px;
  }
}
.topbar--imgbutton {
  margin-right: 8px;
}
.topbar--txtbutton {
  a {
    margin: 0 0 0 10px;
    font-size: 13px;
    background-image: linear-gradient(0deg, #EAEAEA 0%, #FFFFFF 97%);
    box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.07);
    border-radius: 6px;
    padding: 4px 10px;
    color: #222;
    background-color: #fff;
  }
}

.resume-sec1 {
  display: block;
  max-width: 630px;
  margin-top: 22px;
  marginquotebottom: 24px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: .25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  p {
    color: $lighter-body-copy-color;
  }
}
.resume-sec2 {
  max-width: 630px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: .36s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.resume-item {
  font-size: 15px;
  margin-bottom: 40px;

  &--eyebrow {
    font-family: $font-sans-serif;
    color: #7a7a7a;
    font-size: 13px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 2px;
  }
  &--title {
    font-size: 19px;
    margin: 0 auto;
    color: #222;
    line-height: 1.3em;
    font-weight: 500;
    margin-bottom: 2px;
  }
  &--subhead {
    font-weight: 800;
    font-size: 18px;
    color: #333;
    margin-top: 4px;
    margin-bottom: 18px;
  }
  &--list {
    padding-bottom: 1px;
    margin-bottom: 8px;
    li {
      padding: 0 0 0 2.6em;
    //  font-weight: 500;
      margin-bottom: .9em;
      background: url(../../images/fingah@2x.png) no-repeat 0px 4px;
      background-size: 25px 12px;
    }
  }
}
.resume-subhead {
  font-family: $font-sans-serif;
  color: #888;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 19px;
  padding-bottom: 8px;
  font-weight: 500;
  border-bottom: solid 1px #d2d2d2;
  margin: 18px 0 22px;
}

.resume-quote {
//  max-width: 630px;
  background-image: url("../../images/open-quote@2x.png");
  background-repeat: no-repeat;
  background-size: 14px 11px;
  background-position: 17px 22px;
  background-color: #EEEFEB;
  padding: .8rem 2rem 1rem;
  border-radius: 4px;
  margin: 10px 0 22px;
}

.resume-quote--body {
  position: relative;
  margin-bottom: 10px;
  color: #405053;
  font-size: 15px;
  &::after {
    content: ' ';
    position: absolute;
    bottom: 4px;
    right: -8px;
    height: 11px; width: 13px;
    background-image: url("../../images/close-quote@2x.png");
    background-size: 13px 11px;
  }
}
.resume-quote--person {
  color: #405053;
  font-size: 15px;
  margin-bottom: -3px;
  font-weight: bold;
}
.resume-quote--description {
  font-size: 14px;
  color: #637376;
  line-height: 1.45em;
  margin-top: 6px;
}

.resume-section {
  font-size: 15px;
  margin: 36px 0;
  line-height: 1.45em;
  p {
    color: $lighter-body-copy-color;
  }
  &--linkitem {
    font-weight: 600;
    font-size: 17px;
  }
}
.resume-section--header {
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  margin: 10px 0;
}

.resume-section--linkitem {

}

@media screen and (min-width: 365px) {
  // a little tweak for iphone 6-sized displays
  $margin-top: 22px;
  $margin-side: 42px;

  .header {
    padding: $margin-top $margin-side 0;
    &--name {
      h1 {
          padding-right: 2px;

        span { }
      }
      h2 {

      }
    }
    &--nav {
      &--item {}
    }

  }

  .container--home {
    background-position: left -263px;
    .header {
      padding: 30px $margin-side 0;
      &--name {
        h1 {
          font-size: 23px;
          padding-bottom: 8px;
          padding-right: 4px;
        }
        h2 {
          font-size: 23px;
        }
      }
    }
    .main-nav {
      margin-top: 22px;
      a {
      }
    }
  }

  .main {
    margin: 34px $margin-side;
      @include clearfix;
  }

  .main-nav {
    &--item {
      margin-right: 8px;
    }
    a {
      font-size: 18px;
      padding: 11px 20px 10px;
    }
  }
  .home-main {
    &--firstcol {
      padding: 0 $margin-side 20px;
    }
  }
  .home-letter {
  }
  .footer {
    padding: 30px $margin-side 28px;
  }
}
