// $maincolor: #FF1616;
$maincolor: #FF4136;
$secondarycolor: #18303e;
$linkcolor: #068ECF;
$light-color: #f8f8f8;
$header-secondary: rgba(255,255,255,0.69);
$body-copy-color: #303337;
$darker-body-copy-color: #212023;
$lighter-body-copy-color: #3b474a;
// old text color 4F5156

$header-text-color: $light-color;
$header-nav-color: #526C80;
$header-nav-bg-color: #526C80;

$nav-bg-off: rgba(255,255,255,0.1);
$nav-bg-on: rgba(255,255,255,0.84);

$background-color: $light-color;
$portfoliodetail-topbar-color: #9c9c9c;
$resume-topbar-color: #334850;
$dark-header-color: #19303C;
$dark-nav-text-color: #2C262F;
$topbar-accent: #3EAAA7;
$footer-background-color: #f0f0f0;
$footer-color: rgba(0,0,0,0.45);

$font-sans-serif: 'Inter', sans-serif;
$font-body: 'Inter', sans-serif;
$font-text: 'Inter', sans-serif;
$portfolio-panel-bg: #fbfbfb;

$margin-top: 20px;
$margin-side: 30px;


// regular: 400
// medium: 500
// semibold: 600
// bold: 700
// extrabold: 800


.dev {
    position: fixed;
    left: 2px; top: 2px;
    background-color: rgba(255,255,255,0.70);
    padding: 0 4px;
    font-size: 12px;
    color: #888;
    margin-bottom: 18px;
    display: none;
}

.dev__small {
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  font-family: $font-body;
  line-height: 1.4;
  color: $body-copy-color;
  margin: 0;
}

a {
  color: $linkcolor;
  text-decoration: underline;
  &:hover {
    color: darken($linkcolor, 14%);
    //text-decoration: underline;
  }
}

.container {
  font-size: 14px;
  flex-grow: 1;
  margin: 0;
//  background-image: url('/images/hdr-texture@2x.png');
  background-size: 1184px 406px;
  background-repeat: repeat-x;
  background-position: left -268px;
}

.header {
  line-height: 1;
  padding: 26px $margin-side 0;
  font-family: $font-sans-serif;
  background-color: #343434;
  margin-bottom: 26px;
  @include clearfix;
  &--name {
    color: #fff;
//    opacity: .93;
    opacity: 1;
    a {
      color: #fff;
    }
    h1 {
      font-size: 28px;
      padding-bottom: 12px;
      font-weight: 600;
      margin: 0;
      display: inline-block;
    }
    h2 {
      color: $header-secondary;
      font-size: 28px;
      line-height: 1;
      font-weight: 600;
      line-height: 18px;
      margin: 0 0 20px;
      padding-bottom: 6px;
    }
  }
  &--nav {
    
  }
}

.container--home {
  background-position: left -280px;
  .header {
    margin-bottom: 13px;
  }
  .main-nav { //        HOME!  HOME!  HOME!
  //  margin: 18px 0 0;
    padding: 0;
    &--item {

    }
    &--item-active {
      background-color: $nav-bg-on;

    }
    a {
      background-color: $nav-bg-off;

    }
  }
}

.main-nav { // BASE STYLE
  font-weight: 500;
  font-family: $font-body;
  margin: 14px 0 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
  &--item {
    box-sizing: content-box;
    display: inline-block;
//    height: 20px;
    padding: 0;
    margin: 0 6px 0 0;
  }
  &--item__active {
    margin-bottom: 0;
    position: relative;
  }
  & .main-nav--item__active {
    a {
      background-color: $nav-bg-on;
      color: $dark-nav-text-color;
     
      &:hover {
        background-color: $background-color;
      }
    }
  }
  a {
    color: $header-text-color;
    background-color: $nav-bg-off;
    border: none;
    border-radius: 1px 1px 0 0;
    padding: 13px 22px 13px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      background-color: #555;
    }
    border-bottom: none;
  }
}

.home-main {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-weight: 400;
  font-size: 15px;
  &--firstcol {
    padding: 0 $margin-side 20px;
    -webkit-font-smoothing: antialiased;
    order: 0;
    opacity: 0;
    animation-name: fadeinscale;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  &--secondcol {
    order: 1;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    max-width: 520px;
    background-color: $maincolor;
    animation-name: fadeinscale;
    animation-delay: .5s;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  //  transform: perspective( 600px ) rotateY( 25deg );
  }
}

.home-letter {
  font-size: 14px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}

.footer {
  flex-grow: 3;
  text-align: left;
  color: $footer-color;
  line-height: 1.5;
  background-color: $footer-background-color;
  font-size: 14px;
  padding: 20px $margin-side 24px;
  a {
    color: $footer-color;
    text-decoration: underline;
  }
  &--icon {
    margin: 0 2px;
  }
  &__first {
    padding-bottom: 8px;
  }
  &__toplinks {
    font-weight: 500;
    padding-bottom: 8px;
  }
  &__sublinks {

  }
  &__last {

  }
}


.topbar {
  opacity: 0;
  position: relative;
//  background-color: #555;
  // background-color: rgba(32, 65, 85, 0.96);
  background-repeat: no-repeat;
  background-size: 1000px 40px;
//  height: 24px;
  text-align: left;
    animation-name: fadein;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 6px 14px;
    margin: 0;
  }
}

.topbar__resume {
  background-color: $topbar-accent;
}
.topbar__portfolio {
  display: none;

//  background-image: url(/images/topbar-a@2x.png);
}
.topbar__portfolio-detail {
//  background-image: url(/images/topbar-b@2x.png);
  height: 21px;
}
.topbar--button {

  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  margin: 0;
  a {
    text-decoration: none;
    background-color: lighten($topbar-accent, 30%);
    color: lighten($dark-header-color, 10%);
    font-size: 13px;
    line-height: 13px;
    padding: 3px 12px 3px 8px;
    top: 0;
    left: 0;
  //  border: solid 2px #ccc;
    margin: 0;
    &:hover {
      background-color: lighten($topbar-accent, 20%);
    }
  }
}

.main {
  margin: 8px $margin-side;
  padding-top: 2px;
}
.main__portfolio {
  -webkit-font-smoothing: antialiased;
//  padding-top: 24px;
}
.main__portfolio-detail {
}

.page-title {
  width: 100%;
  font-size: 18px;
  font-family: $font-sans-serif;
  font-weight: 600;
  margin: 0 0 14px;
  position: relative;
  &--border {
    margin: 0 0 12px;
    padding: 0 0 8px;
    border-bottom: solid 2px #333;
  }
}

.header-link {
  font-size: 14px;
  font-weight: 400;
  font-family: $font-body;
  position: absolute;
  right: 0;
  top: -14px;
  a {
    color: #777;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__icon {
    position: relative;
    top: 10px;
  }
}
.clearboth {
  @include clearfix;
  clear: both;
}
.portdetail-header {
  @include clearfix;
  font-family: $font-body;
  clear: both;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 18px;
  .portfolio-panel--subhed {
    margin-bottom: 3px;
  }
  h3 {
    font-family: $font-sans-serif;
    margin: 0 0 4px;
    padding: 0;
    font-weight: 600;
    font-size: 17px;
    
    line-height: 1.1em;
  }
  p.portdetail-subhed {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0 0 10px;
    border-bottom: solid 1px #555;
    padding-bottom: 14px;
  }
  p.portfolio-panel--subhed {
    font-family: $font-body;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
  }
  h5 {
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: solid 1px #333;
  }
  
  p {
    font-weight: 500;
    padding: 1px 0;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }
  
}

.portdetail-body {
  opacity: 0;
  animation-name: fadein;
  animation-duration: .6s;
  animation-delay: .25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 10px;
  color: #444;
  font-size: 13px;
  h4 {
    font-size: 15px;
    color: #444;
  }
  p {
    margin: 1em 0;
    font-size: 14px;
    max-width: 520px;

  }
  &--image {
    z-index: 10;
    img {
      max-width: 100%;
    }
  }
}


.port-link {
  text-decoration: none;
}

.portfolio-panel {
  color: $darker-body-copy-color;
  background-color: $portfolio-panel-bg;
  box-shadow: -1px 2px 22px 1px rgba(0, 0, 0, 0.04);
  margin: 0 auto 22px;
  padding: 0 14px 18px;
  display: inline-block;
  //border-radius: 4px;
  position: relative;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // thx to Tobias Ashlin, a genius http://tobiasahlin.com/blog/how-to-animate-box-shadow/
  animation-name: fadeinscaleport;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &--subhed {
    font-weight: 500;
    margin: 2px 0;
    color: #000;
    opacity: .5;
  }

  &:hover {
    box-shadow: -1px 2px 22px 1px rgba(0, 0, 0, 0.06);
    background-color: #fff; // #EEEFEB;
    .portfolio-panel--image img {
      filter: contrast(110%) brightness(101%);
    }
  }
  a {
    text-decoration: none;
    color: $darker-body-copy-color;
  }
}


.portfolio-panel:nth-child(2) {
  animation-delay: .12s;
}
.portfolio-panel:nth-child(3) {
  animation-delay: .24s;
}
.portfolio-panel:nth-child(4) {
  animation-delay: .36s;
}
.portfolio-panel:nth-child(5) {
  animation-delay: .48s;
}
.portfolio-panel:nth-child(6) {
  animation-delay: .60s;
}
.portfolio-panel:nth-child(7) {
  animation-delay: .72s;
}
.portfolio-panel:nth-child(8) {
  animation-delay: .84s;
}
.portfolio-panel:nth-child(9) {
  animation-delay: .98s;
}
.portfolio-panel:nth-child(10) {
  animation-delay: 1.1s;
}

/*.portfolio-panel::after {
  content: '';
  top: 0; left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  //border-radius: 4px;
  box-shadow: -4px 4px 1px 0 rgba(0,0,0,0.08);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
*/
.portfolio-panel:hover::after {
  opacity: 1;
}
.portfolio-panel--image {
//  border-radius: 0 0 4px 4px;
//  min-height: 161px;

}
.portfolio-panel--image img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.portfolio-panel:hover .portfolio-panel--image img {
}

.portfolio-panel:hover .portfolio-panel--header {
//  box-shadow: -2px 2px 12px 0 rgba(0,0,0,0.3);
//  transition: opacity 0.3s ease-in;
}

.portfolio-panel--header {
  text-decoration: none;
  padding-bottom: 12px;
//  border-radius: 4px 4px 0 0;
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3em;
    vertical-align: top;
    margin: 12px 0 8px 4px;
    padding: 0;
  }
}

.portfolio-panel {
  &--header {
    h3 {
      font-weight: 700;
    }
  }
  &--info {
    font-size: 15px;
    margin-left: 4px;
  }
 
  &--description {
    display: none;
  }
  &--image {
    margin: 0 auto;
  }
  
}


.topbar {
  opacity: 0;

}
.topbar__resume {
//  height: 39px;
  padding: 3px 8px 4px;
}

.topbar--sec1, .topbar--sec2 {
  height: 24px;
  margin: 4px;
}

.topbar--resumetextlist, .topbar--resumebuttonlist {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding:0;
  display: inline-block;
  color: #fff;
  li {
    display: inline-block;
  }
}
.topbar--resumetextlist {
  li {
    margin-right: 4px;
  }
  a {
    color: $light-color;
    text-decoration: underline;
  }
}
.topbar--resumebuttonlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  li {
    height: 28px;
  }
}
.topbar--imgbutton {
  margin-right: 8px;
}
.topbar--txtbutton {
  a {
    margin: 0 0 0 10px;
    font-size: 13px;
    background-image: linear-gradient(0deg, #EAEAEA 0%, #FFFFFF 97%);
    box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.07);
    border-radius: 6px;
    padding: 4px 10px;
    color: #222;
    background-color: #fff;
  }
}

.resume-sec1 {
  display: block;
  max-width: 630px;
  margin-top: 22px;
  margin-bottom: 24px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: .25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  p {
    color: $lighter-body-copy-color;
  }
}
.resume-sec2 {
  max-width: 630px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: .36s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.resume-item {
  font-size: 13px;
  margin-bottom: 40px;

  &--eyebrow {
    font-family: $font-text;
    color: #7a7a7a;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: .75px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 4px;
  }
  &--title {
    font-size: 15px;
    margin: 0 auto;
    color: $darker-body-copy-color;
    line-height: 1.3em;
    font-weight: 500;
    margin-bottom: 0;
  }
  &--subhead {
    font-weight: 800;
    font-size: 18px;
    color: #333;
    margin-top: 4px;
    margin-bottom: 18px;
  }
  &--list {
    padding-bottom: 1px;
    margin-bottom: 8px;
    li {
      padding: 0 0 0 2.6em;
    //  font-weight: 500;
      margin-bottom: .9em;
      background: url(../../images/fingah@2x.png) no-repeat 0px 4px;
      background-size: 25px 12px;
    }
  }
}
.resume-subhead {
  font-family: $font-text;
  color: #444;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 8px;
  font-weight: 500;
  border-bottom: solid 1px #999;
  letter-spacing: 1.5px;
  margin: 18px 0 19px;
}

.resume-quote {
//  max-width: 630px;
  background-image: url("../../images/open-quote@2x.png");
  background-repeat: no-repeat;
  background-size: 14px 11px;
  background-position: 17px 22px;
  background-color: #fff;
  box-shadow: -2px 2px 20px rgba(0,0,0,0.03);;
  padding: .8rem 2rem 1rem;
  border-radius: 1px;
  margin: 18px 0 22px;
}

.resume-quote--body {
  position: relative;
  margin-bottom: 10px;
  color: $darker-body-copy-color;
  font-size: 14px;
  &::after {
    content: ' ';
    position: absolute;
    bottom: 4px;
    right: -8px;
    height: 11px; width: 13px;
    background-image: url("../../images/close-quote@2x.png");
    background-size: 13px 11px;
  }
}
.resume-quote--person {
  color: #405053;
  font-size: 14px;
  margin-bottom: -3px;
  font-weight: bold;
}
.resume-quote--description {
  font-size: 14px;
  color: #637376;
  line-height: 1.4em;
  margin-top: 6px;
}

.resume-section {
  font-size: 15px;
  margin: 36px 0;
  line-height: 1.4em;
  p {
    color: $lighter-body-copy-color;
  }
  &--linkitem {
    font-weight: 600;
    font-size: 15px;
  }
}
.resume-section--header {
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  margin: 10px 0;
}

li {
  margin-bottom: 15px;
}       